@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Cairo:wght@200..1000&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Maitree:wght@200;300;400;500;600;700&family=Martel:wght@200;300;400;600;700;800;900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Slabo+13px&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Comfortaa:wght@300..700&family=Graduate&family=Glegoo:wght@400;700&family=Besley:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --backdrop-0: theme('colors.backdrop.600');
  --backdrop-1: theme('colors.backdrop.700');
  --backdrop-2: theme('colors.backdrop.800');
  --backdrop-3: theme('colors.backdrop.900');
  --text-text-0: theme('colors.backdrop.200');
  --text-text-1: theme('colors.backdrop.300');
  --text-text-2: theme('colors.backdrop.400');
  --text-text-3: theme('colors.backdrop.500');
  --light-backdrop-0: theme('colors.backdrop.100');
  --light-backdrop-1: theme('colors.backdrop.200');
  --light-backdrop-2: theme('colors.backdrop.300');
  --light-backdrop-3: theme('colors.backdrop.400');
  --light-text-0: theme('colors.backdrop.800');
  --light-text-1: theme('colors.backdrop.700');
  --light-text-2: theme('colors.backdrop.600');
  --light-text-3: theme('colors.backdrop.500');
}

@layer base {
  * {
    --accent-color: theme('colors.accent.500');
    ::selection {
      background-color: theme('colors.accent.700');
      color: white;
    }
    scrollbar-color: theme('colors.accent.500') theme('colors.backdrop.800');
    scrollbar-width: thin;
  }
}

*:active, *:focus, *:focus-within, *:focus-visible {
  outline: none;
}

input {accent-color: theme('colors.accent.500');}

option:hover, option:checked{
  background-color: theme('colors.accent.700');
  color: white;
}

@media print {
  body{
    margin: 1rem;
    line-break: anywhere;
    word-break: break-word;
    page-break-inside: avoid;
    hyphens: auto;
  }
  * {
    color: black;
    background-color:white;
    padding: 0;
  }
  a {
    text-decoration: underline;
  }
  form, input, button, textarea, select, option, #sidebar, .sidebar, header, footer {
    display: none;
  }

  body *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 12px;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
}

@media print and (color: 0) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    filter: grayscale(100%);
  }
}
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

@media screen and (max-width: 640px) {
  body {
    overflow-x: auto;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.0ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.00ms !important;
    scroll-behavior: auto !important;
  }
}

@media screen and (prefers-contrast: more) {
  html {
    filter: invert(100%) saturate(180%);
  }
}

@media screen and (prefers-contrast: less) {
  html {
    filter: grayscale(100%);
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply no-underline;
  text-decoration: none !important;
}

.prose ol {
  counter-reset: c;
}

.prose ol li {
  counter-increment: c;
}

.prose ol li::before {
  content: counter(c) ". ";
}

.square-img-container {
  position: relative;
}

.square-img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hd-img-container {
  position: relative;
}

.hd-img-container::after {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.hd-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.twosquare-img-container {
  position: relative;
}

.twosquare-img-container::after {
  content: "";
  display: block;
  padding-bottom: 50%;
}

.twosquare-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.threesquare-img-container {
  position: relative;
}

.threesquare-img-container::after {
  content: "";
  display: block;
  padding-bottom: 33.3333%;
}

.threesquare-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foursquare-img-container {
  position: relative;
}

.foursquare-img-container::after {
  content: "";
  display: block;
  padding-bottom: 25%;
}

.foursquare-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fivesquare-img-container {
  position: relative;
}

.fivesquare-img-container::after {
  content: "";
  display: block;
  padding-bottom: 20%;
}

.fivesquare-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.Vue-Toastification__progress-bar{
  @apply rounded-full;
  @apply top-0;
}

.Vue-Toastification__toast--success.toast {
  @apply bg-slate-800;
  @apply border-emerald-500;
  @apply text-emerald-500;
  @apply border-2;
}

.Vue-Toastification__toast--success .Vue-Toastification__progress-bar {
  @apply bg-emerald-500;
}

.Vue-Toastification__toast--error.toast {
  @apply bg-slate-800;
  @apply border-rose-500;
  @apply text-rose-500;
  @apply border-2;
}

.Vue-Toastification__toast--error .Vue-Toastification__progress-bar {
  @apply bg-rose-500;

}

.Vue-Toastification__toast--warning.toast {
  @apply bg-slate-800;
  @apply border-amber-500;
  @apply text-amber-500;
  @apply border-2;
}

.Vue-Toastification__toast--info.toast {
  @apply bg-slate-800;
  @apply border-accent-500;
  @apply text-accent-500;
  @apply border-2;
}

.Vue-Toastification__toast--info .Vue-Toastification__progress-bar {
  @apply bg-accent-500;
}

.Vue-Toastification__toast-body.toast {
  @apply self-center font-sans text-base font-normal leading-relaxed;
}
. {
  text-transform: uppercase;
}
/* automated */
h1, h2 {
  text-transform: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'undefined';
}

body {
  font-family: 'undefined';
}



/* end automated */






























